.bg-black {
    background-color: #000;
}
.bg-white {
    background-color: #fff;
}
.block-container {
    border: 15px solid #000;
}
.each-item {
    height: 40px;
    width: 40px;
}
.vh-100 {
    height: 100vh;
}
body {
    height: 100vh;
    width: 100vw;
}
